!!!
%html
  %head
    %title #{@page_title} - #{Shoppe.settings.store_name}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    = yield :head
  %body
    
    %div.demo
      .inner
        %ul.links
          %li= link_to "Admin login", "/shoppe"
          %li=# link_to "Browse the code", "http://github.com/tryshoppe/core"


    = display_flash
    
    / The main header displayed on all pages
    / Sometimes will be shorted as the page content dictates. 
    %header.main{:class => @full_header ? 'full' : 'basic'}
      .inner
        / Primary navigation
        %nav.main
          %ul
            %li= link_to "Home", root_path, :nav_item => :home
            %li
              = link_to "Our catalogue", catalogue_path, :nav_item => :catalogue, :class => 'noborder'
              %ul
                - for category in Shoppe::ProductCategory.ordered
                  %li= link_to category.name, products_path(category.permalink)
            %li= link_to "Why shop with us?", page_path(:why), :nav_item => :why
            %li= link_to "FAQs", page_path(:faqs), :nav_item => :faqs
            %li= link_to "Get in touch", page_path(:contact), :nav_item => :contact
          %h1= link_to Shoppe.settings.store_name, root_path
        
        - if @full_header
          %h2 Welcome to our <em>Go 4 Fish</em>.
          %p.intro Check out our lovely fish on this page and then you can buy them through the website with just a few clicks using our supremely simple ordering system.
      
      - if @full_header
        .bar
          .inner
            %p.call Call us today on <b>9886992404</b> if you have any questions.

    
    
    / Main content section
    %section.content
      .inner
      
        / Sidebar
        %section.sidebar
          - if content_for?(:sidebar)
            = yield :sidebar
          - else
            = render 'shared/basket'
            = render 'shared/reasons'
      
        / Primary section
        %section.primary
          = yield
        / Useful footer links (policies etc...)

        .callUs
          %p Got any questions? Call us today:
          %p.number 9886992404
          %p We're open 9am to 9pm, Monday to Friday.

          / Links to social media

        / Copyright & trademark information

